/*
  Ya q voy a estar usando import CssBaseline from '@mui/material/CssBaseline';
 * {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
} */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
